@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    border: border-box;
    font-family: poppins;
}

button:hover {
    transform: scale(1.05);
}

/* Header */

.main-header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.main-header-inner-box {
    height: 100%;
    width: 75%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo-section {
    height: 70%;
    width: 20%;
}

.logo-section img {
    height: 100%;
}

.nav-menu {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-nav-menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 1.75rem;
    color: #4d4d4d;
    font-size: 0.95rem;
    font-weight: 500;
}

.nav-menu-button {
    background-color: #4caf4f;
    border: none;
    border-radius: 2.78px;
    padding: 14px 28px;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-menu-button:hover {
    background-color: #4d4d4d;
    color: white;
}

.nav-menu-button p {
    margin-right: 10px;
    font-size: 0.95rem;
    font-weight: 500;
}

/* Hero Section */

.hero-section {
    width: 100%;
    height: 400px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 67px 0px;
}

.hero-section-inner-box {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.hero-section-content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 2.8rem;
}

#hero-section-content-heading-1 {
    color: #4d4d4d;
}

#hero-section-content-heading-2 {
    color: #4caf4f;
}

.hero-section-content p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1rem;
}

.button {
    margin-top: 2rem;
    background-color: #4caf4f;
    border: none;
    border-radius: 2.78px;
    padding: 14px 28px;
    color: white;
    font-size: 0.98rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #4d4d4d;
    color: white;
}

.hero-section-image {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-section-image img {
    width: 400px;
    /* height: 303px; */
}

.hero-section-image img:hover {
    transform: scale(1.05);
}

.our-clients {
    width: 100%;
    height: 155px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

.our-clients-inner-box {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-inner-box h2 {
    color: #4d4d4d;
    font-size: 32px;
}

.our-clients-inner-box p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1rem;
}

.our-clients-logos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-clients-logos img {
    width: 45px;
    height: 45px;
    margin-top: 32px;
}

.our-clients-logos img:hover {
    transform: scale(1.25);
}

.community-management {
    width: 100%;
    height: 485px;
    margin: 120px 0px 40px;
    display: flex;
    justify-content: center;
}

.community-management-inner-box {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.35;
}

.community-management-inner-box h2 {
    color: #4d4d4d;
    font-size: 32px;
}

.community-management-inner-box p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1rem;
}

.community-management-icon-boxes-outer-box {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.community-management-icon-box {
    width: 300px;
    height: 270px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.community-management-icon-box:hover {
    border: 2px solid #4caf4f;
}

.community-management-icon-box img {
    padding: 5px;
    width: 92px;
}

.unseen-spending {
    width: 100;
    height: 400px;
    display: flex;
    justify-content: center;
}

.unseen-spending-inner-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.unseen-spending-image {
    width: 40%;
}

.unseen-spending-image img {
    width: 400px;
}

.unseen-spending-image img:hover {
    transform: scale(1.05);
}

.unseen-spending-content {
    width: 60%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.unseen-spending-content-text {
    width: 85%;
}

.unseen-spending-content-text h2 {
    color: #4d4d4d;
    font-size: 36px;
    line-height: 1.35;
}

.unseen-spending-content-text p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1.8rem;
}

.local-business {
    width: 100%;
    height: 300px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    /* padding: 40px 0px; */
    background-color: #f5f7fa;
}

.local-business-inner-box {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.local-business-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.local-business-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.local-business-content-heading-1 {
    color: #4d4d4d;
}

.local-business-content-heading-2 {
    color: #4caf4f;
}

.local-business-content p {
    margin-top: 10px;
    color: #18191f;
    font-size: 18px;
}

.local-business-icon-lists-outer-box {
    width: 50%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.local-business-icon-list {
    width: 50%;
    display: flex;
    justify-content: start;
}

.local-business-icon-list img {
    width: 50px;
    height: 50px;
}

.local-business-icon-list-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.local-business-icon-list-content h2 {
    font-size: 26px;
    color: #4d4d4d;
    margin-bottom: 10px;
}

.local-business-icon-list-content p {
    color: #4d4d4d;
}

.footer-design {
    width: 100;
    height: 550px;
    display: flex;
    justify-content: center;
}

.footer-design-inner-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer-design-image {
    width: 40%;
}

.footer-design-image img {
    width: 400px;
}

.footer-design-image img:hover {
    transform: scale(1.05);
}

.footer-design-content {
    width: 60%;
    height: 100%;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-design-content-text {
    width: 85%;
}

.footer-design-content-text h2 {
    color: #4d4d4d;
    font-size: 36px;
    line-height: 1.35;
}

.footer-design-content-text p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1.8rem;
}

.testimonial {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
}

.testimonial-inner-box {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.testimonial-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-image img {
    width: 280px;
    height: 279px;
}

.testimonial-content {
    width: 70%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-content p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 20px;
}

.testimonial-content h3 {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #4caf4f;
}

.testimonial-meet-all-customers {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-meet-all-customers img {
    width: 45px;
    height: 45px;
}

.testimonial-meet-all-customers img:hover {
    transform: scale(1.25);
}

.testimonial-meet-all-customers a {
    text-decoration: none;
}

.testimonial-meet-all-customers h3 {
    margin-top: 0px;
    font-size: 1.3rem;
    color: #4caf4f;
}

.icon {
    margin-left: 10px;
}

.blogs {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.blogs-inner-section {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-text {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blogs-text h2 {
    color: #4d4d4d;
    font-size: 36px;
    line-height: 1.35;
}

.blogs-text p {
    font-size: 1.06rem;
    color: #717171;
    margin-top: 1rem;
}

.blogs-outer-section {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.blogs-image {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogs-image img {
    width: 92%;
    /* height: 233.55px; */
}

.blogs-content {
    background-color: #f5f7fa;
    margin-top: -100px;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blogs-content h4 {
    color: #4d4d4d;
    font-size: 20px;
    line-height: 28px;
}

.blogs-content a {
    text-decoration: none;
}

.blogs-content h5 {
    margin-top: 20px;
    color: #4caf4f;
    font-size: 20px;
    line-height: 28px;
}

.blogs-outer-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer-main-section {
    width: 100%;
    height: 350px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
}

.footer-inner-section {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-panel1 {
    width: 25%;
    height: 250px;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-panel1 img {
    width: 300px;
}

.footer-panel1 p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.06rem;
    color: #717171;
}

.footer-panel2 {
    width: 25%;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-panel2 h2 {
    margin-top: 16px;
    color: #4d4d4d;
    font-size: 28px;
    line-height: 1.35;
}

.footer-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
}

.footer-nav-menu a {
    text-decoration: none;
}

.footer-nav-menu li {
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.06rem;
    color: #717171;
}

.footer-panel3 {
    width: 25%;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-panel3 h2 {
    margin-top: 16px;
    color: #4d4d4d;
    font-size: 28px;
    line-height: 1.35;
}

.footer-panel4 {
    width: 25%;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-panel4 h2 {
    margin-top: 16px;
    color: #4d4d4d;
    font-size: 28px;
    line-height: 1.35;
}

.contact-details-list {
    display: flex;
    align-items: center;
}

.contact-icons {
    margin-top: 10px;
    margin-right: 15px;
    color: #717171;
}

.copyright {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf4f;
}

.copyright p {
    color: white;
    font-size: 20px;
}
