* {
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.main-header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-header-inner-box {
    height: 100%;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo-section {
    height: 70%;
    width: 20%;
}

.logo-section img {
    height: 100%;
}

.nav-menu {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-nav-menu li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 1.60rem;
    color: #4d4d4d;
    font-size: 0.95rem;
    font-weight: 500;
}

.nav-menu-button {
    background-color: #4caf4f;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    font-size: 0.80rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-menu-button p {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
}