* {
    margin: 0;
    border: border-box;
    font-family: inter;
}

.main-header {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    
}

.main-header-inner-box {
    height: 100%;
    width: 80%;
}